<figure class="card">
  <div class="card__emoji">{%IMAGE%}</div>

  <div class="card__title-box">
    <h2 class="card__title">{%PRODUCTNAME%}</h2>
  </div>

  <div class="card__details">
    
    <!-- ORGANIC LABEL -->
    <div class="card__detail-box">
      <h6 class="card__detail card__detail--organic {%NOT_ORGANIC%}">
        Organic!
      </h6>
    </div>

    <!-- QUANTITY -->
    <div class="card__detail-box">
      <h6 class="card__detail">{%QUANTITY%} per 📦</h6>
    </div>

    <!-- PRICE -->
    <div class="card__detail-box">
      <h6 class="card__detail card__detail--price">
        {%PRICE%}€
      </h6>
    </div>

    <!-- DETAIL LINK -->
    <a class="card__link" href="/product?id={%ID%}">
      <span>Detail 👉</span>
    </a>

  </div>
</figure>